<h1>Create Room</h1>
<form action="/room/create" method="post">

<div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
</div>

<div>
    <label for="">Description:</label>
    <input type="text" name="description" >
</div>

<div>
    <label for="">Image:</label>
    <input type="text" name="imageUrl" >
</div>


<div>
    <button type="submit">Submit</button>
</div>

</form>