<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
      <a href="/logout">Logout</a>
      <a href="/room/create"> Create a Room </a>
      <a href="/list-rooms"> List of Rooms </a>
    </nav>


    {{{body}}}

    <script src="/js/script.js"></script>
  </body>
</html>
